@import "tailwindcss";

.font-mono { 
  font-family: var(--font-mono);
  text-transform: uppercase;
  font-size: 17px;
}

@layer base {
  h1 {
    @apply font-sans text-4xl lg:text-5xl normal-case leading-tight tracking-tight;
  }
  p {
    @apply text-neutral-400;
  }
}

@layer components {
  .flex-center {
    @apply flex items-center justify-center;
  }
  .flex-between {
    @apply flex items-center justify-between;
  }
  .flex-end {
    @apply flex items-start justify-end;
  }
}

/* Privy */
#privy-dialog {
  z-index: 40 !important;
  * {
    font-family: var(--font-mono) !important;
    text-transform: uppercase !important;
    background: none !important;
    transition: none !important;
  }
  #privy-dialog-backdrop {
    background: rgba(10, 10, 10, 0.4) !important;
    backdrop-filter: blur(0) !important;
  }
  #headlessui-dialog-panel-«rk» {
    box-shadow: none !important;
  }
  #privy-modal-content {
    border: 1px solid #262626 !important;
    background: #0a0a0a !important;
    position: relative !important;
    padding-top: 12px !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    overflow: hidden !important;
    height: auto !important;
    #privy-dialog-title {
      margin-bottom: 8px !important;
    }
    [aria-label="close modal"] {
      display: none !important;
    }
    .login-method-button {
      border: 1px solid #262626 !important;
      background: none !important;
      border-radius: 0 !important;
      transition: none !important;
      font-size: 16px !important;
      color: #fff !important;
      &:hover {
        background: #262626 !important;
      }
      [data-slot="icon"]:last-child {
        width: 18px !important;
      }
    }
  }
  #protected-by-privy {
    transform: scale(0.9) !important;
    &:hover { opacity: 0.6 !important; }
  }
  button:focus {
    box-shadow: none !important;
    border: none !important;
  }
}